*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  width: 1140px;
  gap: 30px;
  align-items: end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  display: grid;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  min-width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}


.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: Oswald;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16.2px;
  letter-spacing: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 100%;
  width: 225px;
  padding: 2.5px 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;

}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:has(input[type="checkbox"]) .search-form__label-text {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__submit-button {
  align-self: self-end;
  padding: 6px 73.5px;
}

.more-button {
  padding: 6px 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}